@model BLL.DTO.CountryIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Країни</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.Partial("_ItemsOnPage", Model)
        @Html.Partial("_CountriesSearch", Model.Search)
    </p>
}

<p>
    @Html.ActionLink("Додати нову країну", "Create")
</p>

@Html.Partial("_CountriesView", Model.Countries)

@{
    string links = Html.LinksBuilder(Model.CurrentPage, Model.TotalPages, x => Url.Action("Index", "country", new
    {
        page = x,
        itemsOnPage = Model.itemsOnPage,
        name = Model.Search.Name,
        priority = Model.Search.Priority
    }));
}

@Html.Raw(links)

